/* Your Styles Here */
html {
  background-color: black;
}

body{
  margin: 0 auto;
  background-color: #dfd49e;
  width: fit-content;
  position: relative;
  display: flex;
  border: #023763 8px solid;
  margin-top: 10px;
  padding: 20px;
  script {
    display: none;
  };
  img.me {
    width: 430px;
  }
}


article.main {
  width: 500px;
  padding: 5px;
  * {
    display: block;
    margin: 20px auto;
    
  }
  article.pic-frame {
    background-color: #023763;
    padding: 8px;
    width: min-content;
    img.me {
      margin: 0 auto;
    }
  }
  a {
    display: inline;
  }
  h1, h2 {
    width: fit-content;
  }
  h1 {
    font-size: 30px;
    color: #023763;
  }
  article.choose {
    margin-top: 50px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
  }
}

