/* Your Styles Here */
html {
  background-color: black;
}

body{
  margin: 0 auto;
  background-color: #dfd49e;
  width: 500px;
  position: relative;
  display: flex;
  border: #023763 8px solid;
  margin-top: 10px;
  padding: 20px;
  script {
    display: none;
  };
}
img.me {
  width: 430px;
}

article.main {
  padding: 5px;
  * {
    display: block;
    margin: 20px auto;
    
  }
  article.pic-frame {
    background-color: #023763;
    padding: 8px;
    width: min-content;
    img.me {
      margin: 0 auto;
    }
  }
  a {
    display: inline;
  }
  h1, h2 {
    width: fit-content;
  }
  h1 {
    font-size: 30px;
    color: #023763;
  }
  article.choose {
    margin-top: 50px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: fit-content;
  }
}

article.ethan {
  position: relative;
  display: none;
  img.pokemon {
    width: 500px;
    margin: 0;
  }
  img.me {
    width: 430px;
    left: 35px;
    top: 60px;
    position: absolute;
  }
  p.name {
    position: absolute;
    left: 80px;
    top: 25px;

    background-color: gray;
    padding: 0 1px;
    font-size: 14px;
    font-weight: bold;
    font-family: Courier, monospace;
    -webkit-transform: scale(0.9, 1.6);

  }

  div.description {
    margin-top: 0;
    padding: 10px 20px;
    * {
      color: white;
    }
    h1, h2 {
      display: block;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
    h2 {
      font-size: 20px;
    }
  }
}



article.user, article.battle {
  display: none;
}

h3.hp {
  color: green;
  white-space: pre;
  background-color: white;
  padding: 2px;
  width: fit-content;
}

